<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
   
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



  </head>
  <body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand ms-3 text-white" href="#"><B> HOME</B></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link mx-5 text-white" href="{% url 'teacher_details' %}">VIEW TEACHER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'course_page' %}">ADD COURSE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'student_page' %}">ADD STUDENT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'student_details' %}">VIEW STUDENT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'logout' %}">LOGOUT</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
            
    {% endblock %}

    <!-- <div class="footer" id="section5">
      <span
        >free No: 1-800-425-4747 (Within India only)<br />
        Department of Tourism, Government of Kerala, Park View,
        Thiruvananthapuram, Kerala, India - 695 033<br />
        Phone: +91 471 2321132, Fax: +91 471 2322279, E-mail:
        info@keralatourism.org.<br />
        All rights reserved © Kerala Tourism 2022. Copyright | Terms of Use |
        Cookie Policy | Contact Us.<br />
        Developed & Maintained by Invis Multimedia.
      </span>
    </div> -->

  </body>

  <style>
    /* .footer {
      position: absolute;
      width: 100%;
      height: 300px;
      background: rgb(6, 26, 49);
      text-align: center;
      color: rgb(201, 179, 57);
      padding-top: 80px;
      top: 67.7%;
    } */
    .navbar{
        height:90px ;
    }

  </style>
</html>
