{% extends 'user_base.html' %}
{% load static %}
{% block content %}
  

<center>
    <div class="container w-50" style="margin-left: 100px;margin-top: 25px;"> 
        
            <form method="post" action="/edit_profile/{{ user.id }}" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>EDIT PROFILE</h1>
                <label for="">First Name</label>
                <input type="text" name="first_name" class="form-control"  value="{{user.teacher.first_name}}"><br>
                <label for="">Last Name</label>
                <input type="text" name="last_name" class="form-control"  value="{{user.teacher.last_name}}"><br>
        
                <label for="">Address</label>
                <input type="text" name="address" class="form-control"  value="{{user.address}}"><br>
                <label for="">Age</label>
                <input type="number" name="age" class="form-control" value="{{user.age}}"><br>
                <label for="">Username</label>
                <input type="text" name="username" class="form-control" value="{{user.teacher.username}}"><br>
                <label for="">Email</label>
                <input type="email" name="email" class="form-control"value="{{user.teacher.email}}"><br>
                <!-- <label for="">Password</label>
                <input type="password" name="password" class="form-control" value="{{user.teacher.password}}"><br>
                <label for="">Confirm password</label>
                <input type="password" name="cpassword" class="form-control" value="{{user.teacher.cpassword}}"><br> -->
                <label for="">Course</label>
                <select class="form-control " name="select" id="qwerty">
                    <option value="{{ user.id }}">{{ user.course.course_name }}</option>
                    {% for i in  cdata%}
        
                    <option value="{{ i.id }}">{{ i.course_name }}</option>
        
                    {% endfor %}
                </select>
                {% if user.image %}
                    <img src="{{ user.image.url }}" class="w-25 mt-3"><br>
                {% else %}
                    <img src="{% static 'images/person1.png' %}" class="w-25"><br>
                {% endif %}
                
                <input type="file" name="file" class="form-control mt-3" accept="image/*" value="{{user.image}}">
                
                <button type="submit" class="btn btn-outline-info" style="margin-left: 40%;">EDIT PROFILE</button>
                <br>
            </form>
        
    </div>
</center>


{% endblock %}