{% extends 'user_base.html' %}
{% block content %}
  
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

   <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
    li{
        font-size: x-large;
        color: rgb(124, 15, 15);
       
    }
    /* body{
        background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm422-073.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=ef48caa87980815f77343e682d6324ee);
        background-repeat: no-repeat;
        background-size: cover;
    } */
</style>
<body>
    

    <center>
         

         
              <div class="card" style="width: 50%;background-color: grey;height: 500px; border: 1p solid black;">
                {% if user.image %}
                <img src="{{ user.image.url }}" alt="" style="width:100%;height: 150px;margin-top: 15px;">
                {% else %}
                <img src="{% static 'images/flower.jpg' %}" alt="" style="width:50%;height: 100px;margin-top: 15px;">
    
                {% endif %}
                <div class="container">
                    <h1 class="card-title">{{ user.teacher.first_name }} {{user.teacher.last_name}}</h1>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{user.teacher.email}}</li>
                        <!-- <li class="list-group-item">{{student.phone}}</li> -->
                        <li class="list-group-item">{{user.course.course_name}}</li>
                        <li class="list-group-item">{{user.address}}</li>
                    </ul>
                </div>
                
              </div>
         
         
    </center>
   
</body>
</html>

{% endblock %}